<!DOCTYPE html>
<html>
  <head>
    <title>AI가 알려주는 나의 언어사용 실태</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
    <meta name="google-site-verification" content="uz8CstaAM5HDjdqwHyQ1ha67yvnYZ4QpaSyP5MkdQ3M" />
  </head>
  <body>
    <main>

      <section>

          <header>
            <h1>AI가 알려주는 나의 언어사용 실태</h1>
            <p>카카오톡에서 내보내기 한 압축파일(IOS) 또는 텍스트 파일(안드로이드)을 올려주세요.</p>
          </header>
          <form action="/upload" method="post", enctype = "multipart/form-data">
            <input type=file name="file"/ placeholder="Kakao">
            <button type="submit">올리기</button>
          </form>
          <hr>
          <header>
            <details>
              <summary>카카오톡 대화 내보내기를 어떻게 하는지 모르시겠다구요? 여기를 클릭</summary>
                <p>아이폰에서 카카오톡 대화 내보내기</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/am3u8klzuxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p>안드로이드(아이폰 아닌 폰)에서 카카오톡 대화 내보내기</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Wetv4heWP08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p>혹시 아이폰인데 대화 내보내기할 때 이메일이 등록되어 있지 않아 못보내지는 않나요?</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GVScs5RK1j0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                

              </details>
            <p>6학년 1학기 국어 "자신의 언어생활 성찰하기"를 위해 만들어졌습니다.</p>
            <p>업로드 된 파일은 인공지능이 바른말 여부를 판별 후 바로 자동 삭제됩니다.</p>
            <p>이 사이트는 개인정보를 수집하여 보관하지 않습니다.</p>
          </header>
      </section>
    </main>   
  </body>
</html>
